:root {
    --primary-color: #0077cc;
    --primary-hover: #005fa3;
    --accent-color: #ff4081;
    --bg-color: #f5f5f5;

    --border-color: #000000; 
    --text-color: #222;
}  

body {
    background-color: whitesmoke;
}

.maincontainer {
    border: 1px solid var(--border-color);
    border-radius: 17px;
    background-color: var(--bg);

    padding: 1rem;
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;


    gap: .5rem;
}

canvas {
    display: block;
    width: 100%;
    /* No width/height in CSS */
}

.can {
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius: 15px;
}

.slidecontainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.colorcontainer button.selected-color {
    border: 2.5px solid lightskyblue;
    border-radius: 5px;
}
  