:root {
    --accent-color: lightgray;
    --bg-color: #ffffff;

    --border-color: #000000; 
    --text-color: #222;
}  

body {
    background-color: whitesmoke;

    background-image: radial-gradient(circle at center,
        hsl(30, 100%, 85%),
        hsl(120, 60%, 85%),
        hsl(240, 70%, 85%),
        hsl(300, 70%, 85%)
    );
    background-size: 300% 300%;
    animation: CircularGradientAnimation 20s infinite linear;


    /* Flexbox for centering the main container */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: .5rem; 

    overflow: hidden; /*Prevents scrolling*/

    font-family: Arial, Helvetica, sans-serif;
}

@keyframes CircularGradientAnimation {
    0% { background-position: 0% 0%; }
    25% { background-position: 100% 0%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}

.maincontainer {
    /*border: 1px solid var(--border-color);*/
    border-radius: 17px;
    background-color: var(--bg-color);

    padding: 1rem;
    width: 100%;

    max-width: 600px;

    display: flex;
    flex-direction: column;

    gap: .5rem;

    z-index: 1; 
}

canvas {
    display: block;
    width: 100%;
    min-height: 250px;
    /* No width/height in CSS */
}

.can {
    border: 1.5px solid var(--accent-color);
    background-color: var(--bg-color);
    border-radius: 15px;
    margin-bottom: 10px;
}

.slidecontainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.colorcontainer button.selected-color {
    border: 2.5px solid var(--accent-color);
    border-radius: 5px;
}

button {
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 5px;
    min-width: 75px;
    min-height: 35px;
}

.clear {
    background-color: white;
}

.clear:hover {
    background-color: lightgray;
    color: white; 
}

.maincontainer p {
    margin: 0; 
    margin-bottom: 10px;
}

  