body {
    background-color: whitesmoke;
}

.can {
    border:1px solid #000000;
    background-color: white;
    border-radius: 15px;
}

.slidecontainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.colorcontainer button.selected-color {
    border: 2.5px solid black;
    border-radius: 5px;
}
  